@import "../../_variables";

/* =============================
    About Page CSS
================================ */

.about-page {
  font-size: 1em;
}


/* =============================
    CSS Media Queries
================================ */


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .about-page {
    font-size: 1.1em;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .about-page {
    font-size: 1.1em;
  }
}


// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .about-page {
    font-size: 1.2em;
  }
}