h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.welcome-section .welcome-header {
  font-size: 3.3em;
  font-weight: 700;
}

.welcome-section .photo-credits {
  font-size: 1.4em;
  font-weight: 400;
}