/* =============================
    Welcome Section CSS
================================ */

.welcome-section {
  font-size: 0.8em;

  .header {
    font-size: 2.8em;
    font-weight: 700;
  }

  .photo-credits {
    font-size: 1.2em;
    font-weight: 500;
  }

  img {
    width: 100%;
  }
}

/* =============================
    CSS Media Queries
================================ */

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .welcome-section {
    font-size: 0.8em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .welcome-section {
    font-size: 0.9em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .welcome-section {
    font-size: 0.9em;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .welcome-section {
    font-size: 1.2em;

    .header {
      font-size: 3.2em;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .welcome-section {
    .header {
      font-size: 3.5em;
    }

    font-size: 1em;
  }
}