$header-color: #2e393d;
$header-underline-color: #2b2f32;
$list-color: #2e2e2e;
$list-bg-hover-color: #f5f5f5;
$form-button-color: #3f6cbb;
$form-title-color: #074d43;
$form-close-button-color: #323232;
$form-input-color: #e0e0e0;
$form-button-color: #01589d;

.author-section {
  .author-header {
    font-weight: 500;
    font-size: 2.5em;
    color: $header-color;
    border-bottom: 2px solid $header-underline-color;
  }

  .author-list {
    .empty-list {
      font-size: 1.2em;
      font-weight: 400;
    }

    ul {
      li {
        font-weight: 500;
        font-size: 1.5em;
        color: $list-color;

        &:hover {
          background-color: $list-bg-hover-color;

          .icons {
            display: block;
          }
        }

        .icons {
          display: none;
          font-size: 1.3em;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }

  .add-author {
    label {
      font-size: 1.3em;
      font-weight: 500;
      vertical-align: top;
      cursor: pointer;
    }

    i {
      font-size: 1.5em;
      font-weight: 600;
      color: $form-button-color;
      cursor: pointer;
    }
  }

  .author-form {
    .form-title {
      label {
        font-size: 1.4em;
        font-weight: 600;
        color: $form-title-color;
        text-decoration: underline;
        text-underline: 4px solid $form-title-color;
      }

      i {
        font-size: 1.6em;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .form-group {
      .form-label {
        font-size: 0.8em;
      }

      .form-control {
        color: $form-input-color;
        border-radius: 0;
        border: 2px solid grey;

      }

      .form-button {
        font-size: 1em;
        background-color: $form-button-color;
        border-radius: 6px;
        padding-left: 2em;
        padding-right: 2em;
      }
    }
  }
}


